{% extends 'base.html' %}

{% block content %}
    <div>
    <img class="img-rounded" src="{{ user.gravatar(size=256) }}">
    </div>

<ul class="list-group">
  <li class="list-group-item">{{ user.username }}</li>
  <li class="list-group-item">{{ user.location or "暂无"}}</li>
  <li class="list-group-item">{{ user.about_me or "暂无"}}</li>
  <li class="list-group-item">{{ user.last_seen or "暂无"}}</li>
    {% if user==current_user %}
    <a class="btn btn-danger" href="{{ url_for('main.edit_profile') }}">修改</a>
    {% endif %}

    {% if  current_user.is_administrator %}
    <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin',id=user.id) }}">管理员修改</a>
    {% endif %}

</ul>

    <h3>Posts</h3>
    {% include "_posts.html" %}

    {%  if current_user.can(Permission.FOLLOE) and usr != current_user %}
        {% if not current_user.is_following(user) %}
            <a href="{{ url_for('main.follow',username=user.username) }}" class="btn btn-primary">follow</a>
        {% else %}
            <a href="{{ url_for('main.unfollow',username=user.username) }}" class="btn btn-default">Unfollow</a>
        {% endif %}
    {% endif %}
    <a href="{{ url_for('main.followers',username=user.username) }}">
    Followers:<span class="badge">{{ user.followers.count() }}</span>
    </a>
    <a href="{{ url_for('main.followed_by',username=user.username) }}">
    Following:<span class="badge">{{ user.followed.count() }}</span>
    </a>
    {% if current_user.is_authenticated and user != cueent_user and user.is_following(current_user) %}
    <span class="label label-default">Follows you</span>
    {% endif %}
{% endblock %}